<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body id = "body">
        
        
        <select id = "convertFrom">
            <option>Binary</option>
            <option>Decimal</option>
            <option>Octal</option>
            <option>Hexidecimal</option>
        </select>
        <select id = "convertTo">
            <option>Decimal</option>
            <option>Binary</option>
            <option>Octal</option>
            <option>Hexidecimal</option>
        </select>
        
    
        <input id = "userInput" type= "text">
        <input id = "submitBtn" type = "button" value = "convert">
         <h1>This is a test</h1>
         
         
        <script type="text/javascript" src="convert.js"></script>
    </body>
</html>